# Copyright Since 2019 SWC-DB© [author: Kashirin Alex kashirin.alex@gmail.com]
 

# configuration file for sbin/swc_cluster 

# options: 
#   single (seconds) swc.cluster.role.delay.start
#   multi  (host)    swc.cluster.rgr.host 
#   multi  (host)    swc.cluster.thriftbroker.host 
#   multi  (host)    swc.cluster.fsbroker.host 
#   --host = default|hostname|port 
#         OR default|ip,ip,ip|port 
#         (without |port    - default port applied)
#         (with    default| - default hostname applied, hostname used of ssh)

swc.cluster.role.delay.start=2

swc.cluster.rgr.host=ns1-1.thither.direct
swc.cluster.rgr.host=ns1-1.thither.direct|16001

swc.cluster.fsbroker.host=default|ns1-1.thither.direct
swc.cluster.fsbroker.host=ns1-1.thither.direct|17011
#swc.cluster.fsbroker.host=192.168.111.1,192.168.111.2|17014

swc.cluster.thriftbroker.host=default|ns1-1.thither.direct
#swc.cluster.thriftbroker.host=1192.168.111.1,192.168.111.2|18004
