# Copyright Since 2019 SWC-DB© [author: Kashirin Alex kashirin.alex@gmail.com]
 


# cfg-file read by FileSystem-Ceph

# swc.fs.ceph.cfg.dyn=swc_fs_ceph.dyn.cfg

swc.fs.ceph.path.root=/111/222/333

swc.fs.ceph.fds.max=256