# Copyright Since 2019 SWC-DB© [author: Kashirin Alex kashirin.alex@gmail.com]
 


# cfg-file read by FileSystem-Local

# swc.fs.local.cfg.dyn=swc_fs_local.dyn.cfg

swc.fs.local.path.root=/var/opt/swcdb/
swc.fs.local.fds.max=1024