# Copyright Since 2019 SWC-DB© [author: Kashirin Alex kashirin.alex@gmail.com]
 

# swcdbRanger Dynamic Configuration file


swc.rgr.ram.percent=20
swc.rgr.ram.release.rate=1

swc.rgr.id.validation.interval=120000
swc.rgr.compaction.check.interval=300000
swc.rgr.compaction.read.ahead=4
swc.rgr.compaction.range.max=2

swc.rgr.Range.block.size=64MB
swc.rgr.Range.block.cells=100000
swc.rgr.Range.block.encoding=ZSTD

swc.rgr.Range.CellStore.replication=3
swc.rgr.Range.CellStore.size.max=1GB
swc.rgr.Range.CellStore.count.max=2
swc.rgr.Range.CommitLog.rollout.ratio=3
swc.rgr.Range.compaction.percent=33
