# Copyright Since 2019 SWC-DB© [author: Kashirin Alex kashirin.alex@gmail.com]


# read by FsBroker(app)

# swc.FsBroker.cfg.dyn=swc_fsbroker.dyn.cfg

swc.FsBroker.reactors=1
swc.FsBroker.workers=32
swc.FsBroker.handlers=256