# SWC-DB© Copyright since 2019 Alex Kashirin <kashirin.alex@gmail.com>
# License details at <https://github.com/kashirin-alex/swc-db/#license>




# cfg-file read by FileSystem-Ceph

# swc.fs.ceph.cfg.dyn=swc_fs_ceph.dyn.cfg

swc.fs.ceph.path.root=/swcdb/


#swc.fs.ceph.client.id="TheIdNameOfRunningClient"


#swc.fs.ceph.configuration.file=/etc/ceph/ceph.conf
# or
swc.fs.ceph.mon.addr=127.0.0.1


# swc.fs.ceph.perm.group=gid
# swc.fs.ceph.user.group=uid
# swc.fs.ceph.stripe.unit=i32
# swc.fs.ceph.stripe.count=i32
# swc.fs.ceph.object.size=i32
# swc.fs.ceph.replication=i32


swc.fs.ceph.fds.max=256
