# SWC-DB© Copyright since 2019 Alex Kashirin <kashirin.alex@gmail.com>
# License details at <https://github.com/kashirin-alex/swc-db/#license>




# cfg-file read by FileSystem-FsBroker(and app-FsBroker)

swc.fs.broker.cfg.dyn=swc_fs_broker.dyn.cfg

swc.fs.broker.host=localhost # (hostname, addresses goes by resolver(/etc/hosts) 127.0.0.1+ applicable )
swc.fs.broker.port=17000
swc.fs.broker.handlers=48

# specific cfg for FsBroker(App)
swc.FsBroker.cfg=swc_fsbroker.cfg 
