# SWC-DB© Copyright since 2019 Alex Kashirin <kashirin.alex@gmail.com>
# License details at <https://github.com/kashirin-alex/swc-db/#license>



## FileSystem-Hadoop read the file
# documentations at
#  https://www.swcdb.org/configure/properties/libswcdb_fs/hadoop.html
##



# swc.fs.hadoop.cfg.dyn=swc_fs_hadoop.dyn.cfg

swc.fs.hadoop.path.root=/swcdb/

swc.fs.hadoop.metrics.enabled=true

swc.fs.hadoop.fds.max=256

#swc.fs.hadoop.namenode=example-nn1-host.swcdb.org
#swc.fs.hadoop.namenode=example-nn2-host.swcdb.org
swc.fs.hadoop.namenode.port=9000
# swc.fs.hadoop.user=

swc.fs.hadoop.concurrency.relative=true
swc.fs.hadoop.handlers=6
