# SWC-DB© Copyright since 2019 Alex Kashirin <kashirin.alex@gmail.com>
# License details at <https://github.com/kashirin-alex/swc-db/#license>



# Dynamic Configurations
## swcdbManager read the file
# documentations at
#  https://www.swcdb.org/configure/properties/manager.html
##



swc.logging.level=info

# swc.mngr.comm.encoder=ZSTD

swc.mngr.metrics.report.interval=300

swc.mngr.role.request.timeout = 60000
swc.mngr.role.connection.probes = 3
swc.mngr.role.connection.timeout = 1000
swc.mngr.role.connection.fallback.failures = 3
swc.mngr.role.check.interval = 120000
swc.mngr.role.check.delay.updated = 200
swc.mngr.role.check.delay.fallback = 30000

swc.mngr.ranges.assign.Rgr.remove.failures=3
swc.mngr.ranges.assign.delay.onRangerChange=30000
swc.mngr.ranges.assign.delay.afterColumnsInit=54321
swc.mngr.ranges.assign.interval.check=60000
swc.mngr.ranges.assign.due=100

swc.mngr.column.health.interval.check=300000
swc.mngr.column.health.checks=2

swc.mngr.schema.replication=3

swc.mngr.rangers.resource.interval.check=120000
swc.mngr.rangers.range.rebalance.max=1
