# SWC-DB© Copyright since 2019 Alex Kashirin <kashirin.alex@gmail.com>
# License details at <https://github.com/kashirin-alex/swc-db/#license>



## FsBroker read the file
# documentations at
#  https://www.swcdb.org/configure/properties/fsbroker.html
##



swc.FsBroker.cfg.dyn=swc_fsbroker.dyn.cfg

swc.FsBroker.reactors=1
swc.FsBroker.workers=32
swc.FsBroker.handlers=256

swc.FsBroker.metrics.enabled=true
