# SWC-DB© Copyright since 2019 Alex Kashirin <kashirin.alex@gmail.com>
# License details at <https://github.com/kashirin-alex/swc-db/#license>



# Dynamic Configurations
## swcdbBroker read the file
# documentations at
#  https://www.swcdb.org/configure/properties/broker.html
##



swc.logging.level=info

# swc.bkr.comm.encoder=ZSTD

swc.bkr.ram.allowed.percent=33
swc.bkr.ram.reserved.percent=33
swc.bkr.ram.release.rate=1

swc.bkr.metrics.report.interval=300


